.Footer-container {
    max-width: 1170px;
    margin: auto;
    border-bottom: 1px rgba(211, 125, 255, 0.58) solid;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #f9d0ff;
    padding: 40px 0;
    margin-top: 15px;
    width: 100%;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #000000;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    width: 260px;
    text-align: center;
}
.footer-col ul li{
    width: 260px;
    text-align: center;
    cursor: pointer;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li p{
    font-size: 16px;
    /*color: #ffffff;*/
    text-decoration: none;
    font-weight: 300;
    color: #595858;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li p:hover{
    color:  #000000;;
    padding-right: 5px;
}

.footer-col .social-links{
    width: 260px;
    text-align: center;
}
.footer-col .social-links p{
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.49);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #4f504f;
    transition: all 0.5s ease;
}
.social-links p{
    padding-top: 6px;
}
.footer-col .social-links p:hover{
    color: #24262b;
    background-color: #ffffff;
}
#LastPart{
    margin-top: 15px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}